.shopping-cart
  %h4 Shopping Cart
  %p
    = "Cart subtotal (#{@num_in_cart} items): #{number_to_currency(@subtotal)}"
    %p
      - session[:subtotal] = @subtotal
      = link_to 'Proceed to Checkout', sessions_view_cart_path

