/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#welcome_client {
  text-align: center;
  color: blue;
}

#products_heading {
  text-align: center;
  font-size: 2.5em;
}

.shop_link {
  text-align: center;
  font-size: 2em;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

#add_new_product {
  text-align: center;
  color: green;
  font-family: Courier;
}

#product_title {
  font-size: 1.5em;
  border-bottom: 1px solid black;
}

#product_desc {

}

#product_price {

}

.img_small {
  padding: 10px;
  border: 1px solid blue;
}
