// * {
//     outline: 1px solid blue;
// }

.form_style {

  text-align: center;
}

.new_product {
  border: 1px solid gray;
  background-color: #E8E8EE;
  padding: 15px;
  text-align: center;
  margin: auto;
  width: 250px;
  border-radius: 5%;
}

.edit_product {
  border: 1px solid gray;
  background-color: #E8E8EE;
  padding: 15px;
  text-align: center;
  margin: auto;
  width: 250px;
  border-radius: 5%;
}

.edit_single_product {
  text-align: center;
}

.form_group {

  margin: auto;
}

// .alert .alert-success {
//   background-color: green;
// }

// .alert .alert-danger {
//   background-color: red;
// }

